
{% load dict_filter %}

{% load static %}

<html>
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>

<div class="bg-red-shade position-absolute w-100 h-50">
    <img src="https://www.redpill-linpro.com/themes/custom/cerpus_base/logo.svg" alt="Your Logo" class="logo">
    <!-- Centered content -->
    <div class="center-content">
        <h1>Data Extension ImportEase</h1>
        <p>Make your data extension import process smoother</p>
    </div>
</div>

<!-- Form Container -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="main-wrapper" id="main-wrapper">
                <form method="post" enctype="multipart/form-data" class="mb-4" id="uploadForm">
                    <input type="hidden" name="form_identifier" value="form1">
                    <input type="hidden" name="csrfmiddlewaretoken" id="csrfTokenInput" value="{{ csrf_token }}">
                    <div class="form-group">
                        <div class="white-rounded">
                            <div class="drag-drop-area" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
                                <div class="loading-message">Your file is being analyzed...</div>
                                <div class="error-message">
                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                    <div class="mt-2">
                                        <h4 id="error-title" class="text-danger"></h4>
                                        <p id="error-message"></p>
                                    </div>
                                </div>
                                <div class="success-message">
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                    <div class="mt-2">
                                        <h4 id="success-title" class="text-success"></h4>
                                        <p id="success-message"></p>
                                    </div>
                                </div>
                                <div class="drag-drop-content">
                                    <div class="drag-drop-icon">
                                        <i class="bi bi-upload"></i>
                                    </div>
                                    <h2 class="drag-drop-title">Please drag and drop your file here to create your data extension</h2>
                                    {% for field in form %}
                                        <input type="file" name="{{ field.name }}" id="{{ field.auto_id }}" class="file-input">
                                    {% endfor %}
                                </div>
                            </div>
                            <p style="margin-top:10px">
                                Only .txt and .csv files • Up to 2 MB
                            </p>
                            <div style="padding-top: 20px; padding-left: 10px;">
                                <button class="btn btn-primary" id="go_back" type="button" style="display: none;">Go Back</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div style="display:none" id="notes_div">
                    <h2 id="notes-section" style="padding-top:50px;padding-bottom:15px;">Notes</h2>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-secondary">
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <form method="post" action="/save_field_data/" id="save_form" class="mb-4" enctype="multipart/form-data" style="display: none;">
                    <input type="hidden" name="form_identifier" value="form2">
                    <input type="hidden" name="csrfmiddlewaretoken" id="csrfTokenInput" value="{{ csrf_token }}">
                    <div id="data_extension_properties" style="display: none;">
                        <h2 style="padding-top:50px;padding-bottom:15px;">Data Extension Properties</h2>
                        <div class="rounded-rectangle">
                            <!-- New fields: name and customerKey -->
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="customerKey">Customer Key(External Key)</label>
                                <input type="text" id="customerKey" name="customerKey" class="form-control">
                                <p class="lightgray-text">Optional. If left empty, SFMC will provide a random Customer Key.</p>
                            </div>
                        </div>
                    </div>

                    <div id="data_retention" style="display: none;">
                        <!-- Data Retention Section -->
                        <h2 class="mt-4" style="padding-top:50px;padding-bottom:15px;">Data Retention</h2>
                        <!-- 1. Retention Setting On-Off Switch -->
                        <div class="custom-control custom-switch mb-4">
                            <input type="checkbox" class="custom-control-input" id="retentionSwitch">
                            <label class="custom-control-label" for="retentionSwitch">Enable Retention Setting</label>
                        </div>
                        <div id="retentionPolicySettings" style="display:none;">
                            <!-- 2. Radio Buttons for Data Retention Strategy -->
                            <div class="card mb-3">
                                <div class="card-body">
                                    <label style="font-weight: 700;padding-top: 10px;padding-bottom: 10px;">Delete</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dataRetentionStrategy" id="individualRecords" value="individual" required checked>
                                        <label class="form-check-label" for="individualRecords">Individual Records</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dataRetentionStrategy" id="allRecordsDataExtensions" value="allDataExtensions" required>
                                        <label class="form-check-label" for="allRecordsDataExtensions">All Records and data extensions</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dataRetentionStrategy" id="allRecords" value="allRecords" required>
                                        <label class="form-check-label" for="allRecords">All records</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 3. Retention Period Radio Buttons -->
                            <div class="card">
                                <div class="card-body">
                                    <label style="font-weight: 700;padding-top: 10px;padding-bottom: 10px;">Retention Period</label>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="radio" name="retentionPeriod" id="afterPeriod" value="afterPeriod" required checked>
                                        <label class="form-check-label mr-2" for="afterPeriod">After</label>
                                        <input type="number" class="form-control-inline mr-2" name="periodLength" value="" style="border: 1px solid #ced4da;border-radius: 0.25rem;width: 10%;padding-left: 10px;height: 40px;">
                                        <select class="form-control" name="periodUnit" style="border: 1px solid #ced4da;border-radius: 0.25rem;width: 15%;height: 40px;">
                                            <option value="Days">Days</option>
                                            <option value="Weeks">Weeks</option>
                                            <option value="Months">Months</option>
                                            <option value="Years">Years</option>
                                        </select>
                                    </div>
                                    <div class="align-checkbox">
                                        <div class="form-check" style="padding-left: 2% !important;">
                                            <input type="checkbox" class="form-check-input" id="resetOnImport" name="resetOnImport">
                                            <label class="form-check-label" for="resetOnImport">Reset period on import</label>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="retentionPeriod" id="specificDate" value="specificDate" required disabled>
                                        <label class="form-check-label mr-2" for="specificDate">On</label>
                                        <input type="date" class="form-control-inline" name="retentionDate" required disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display:none" id="field_data_div">
                        <h2 class="mt-4" style="padding-top:50px;padding-bottom:15px;">Field Data</h2>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th> <!-- Space for add row icon -->
                                    <th style="min-width: 100px;">Field Name</th>
                                    <th style="min-width: 150px;">Field Type</th>
                                    <th style="min-width: 50px;">Field Length</th>
                                    <th style="min-width: 100px;">Required?</th>
                                    <th style="min-width: 100px;">Primary&nbsp;Key?</th>
                                    <th></th> <!-- Space for remove row icon -->
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="save_button_div">
                        <button type="button" class="btn btn-success save_button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>